# Gradle
.gradle/
build/
local.properties
gen/
*/build/
*/build/*

# IDEA/Android Studio ignores
*iml
.idea/*

# IDEA/Android Studio includes
!.idea/vcs.xml
!.idea/fileTemplates/
!.idea/inspectionProfiles/
!.idea/scopes/
!.idea/codeStyles/
!.idea/encoding.xml
!.idea/copyright/

# iOS SwiftPackages
swift/Data4LifeSDK.xcconfig
swift/Data4LifeDataDonationSDK

# generated
data-donation-sdk/src-gen/commonTest/kotlin/care/data4life/datadonation/test/config/TestConfig.kt
data-donation-crypto/src-gen/commonTest/kotlin/care/data4life/datadonation/test/config/TestConfig.kt

# Others
captures/

.asciidoctor/

.DS_Store

#Xcode ignores
xcuserdata/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
profile/
*.moved-aside
.externalNativeBuild
.cxx
*.xcuserstate
*.xcbkptlist
*.xcscmblueprint
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
Pods/
/data-donation-sdk/native/iOSCryptoDD/iOSCryptoDD.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

#HELPER
*.LOG
